@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body, html, div[data-js="root"] {
    height: 100%;
    position: relative;
}

.bordered {
    border: 1px solid rgb(175, 175, 175) !important;
    border-radius: 4px !important;
}